<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--Tipo: Local ou Global-->
    <add key="TIPOBD" value="Local" />
    <add key="CODSISTEMA" value="C" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ValorGT" value="8e0d92e98814d1cba96d8848fe709d36f94499ce" />
    <add key="ValorNumSerie" value="f340a7209827612232d5584b0e9ee1bb7b34a767" />
  </appSettings>
  <connectionStrings>
    <add name="Restaurante"
         connectionString="metadata=res://*/BD.csdl|res://*/BD.ssdl|res://*/BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=artebit-server\sql2008r2express;Initial Catalog=ARTEBITGOURMET_Novo;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
    <!--<add name="Restaurante" connectionString="metadata=res://*/BD.csdl|res://*/BD.ssdl|res://*/BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\titan;Initial Catalog=artebitgourmet;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>