<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish>
    </SiteUrlToLaunchAfterPublish>
    <publishUrl>C:\temp4</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="AltSenha.aspx">
      <publishTime>06/27/2012 11:30:54</publishTime>
    </File>
    <File Include="bin/AcessoDados.dll">
      <publishTime>08/14/2012 18:32:43</publishTime>
    </File>
    <File Include="bin/AcessoDados.pdb">
      <publishTime>08/14/2012 18:32:43</publishTime>
    </File>
    <File Include="bin/Administracao.dll">
      <publishTime>08/14/2012 18:32:45</publishTime>
    </File>
    <File Include="bin/Administracao.pdb">
      <publishTime>08/14/2012 18:32:45</publishTime>
    </File>
    <File Include="bin/Ext.Net.dll">
      <publishTime>05/29/2012 13:26:53</publishTime>
    </File>
    <File Include="bin/Ext.Net.Utilities.dll">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="bin/Ext.Net.Utilities.xml">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="bin/Ext.Net.UX.dll">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="bin/Ext.Net.xml">
      <publishTime>05/29/2012 13:26:43</publishTime>
    </File>
    <File Include="bin/Modelo.dll">
      <publishTime>08/14/2012 18:32:42</publishTime>
    </File>
    <File Include="bin/Modelo.pdb">
      <publishTime>08/14/2012 18:32:42</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>05/29/2012 13:26:42</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>05/29/2012 13:26:42</publishTime>
    </File>
    <File Include="bin/RegrasNegocio.dll">
      <publishTime>08/14/2012 18:32:43</publishTime>
    </File>
    <File Include="bin/RegrasNegocio.pdb">
      <publishTime>08/14/2012 18:32:43</publishTime>
    </File>
    <File Include="bin/Stimulsoft.Base.dll">
      <publishTime>03/26/2010 21:05:40</publishTime>
    </File>
    <File Include="bin/Stimulsoft.Base.xml">
      <publishTime>03/26/2010 21:05:40</publishTime>
    </File>
    <File Include="bin/Stimulsoft.Report.dll">
      <publishTime>03/26/2010 21:05:48</publishTime>
    </File>
    <File Include="bin/Stimulsoft.Report.Web.dll">
      <publishTime>03/26/2010 21:00:16</publishTime>
    </File>
    <File Include="bin/Stimulsoft.Report.Web.xml">
      <publishTime>03/26/2010 21:00:16</publishTime>
    </File>
    <File Include="bin/Stimulsoft.Report.WebFx.dll">
      <publishTime>03/26/2010 21:00:56</publishTime>
    </File>
    <File Include="bin/Stimulsoft.Report.WebFx.xml">
      <publishTime>03/26/2010 21:00:56</publishTime>
    </File>
    <File Include="bin/Stimulsoft.Report.xml">
      <publishTime>03/26/2010 21:05:46</publishTime>
    </File>
    <File Include="bin/Util.dll">
      <publishTime>07/08/2012 11:19:17</publishTime>
    </File>
    <File Include="bin/Util.pdb">
      <publishTime>07/08/2012 11:19:17</publishTime>
    </File>
    <File Include="Compras/Estoque.aspx">
      <publishTime>07/12/2012 13:46:16</publishTime>
    </File>
    <File Include="Compras/Movimentacao.aspx">
      <publishTime>06/21/2012 09:05:31</publishTime>
    </File>
    <File Include="Compras/NotaFiscal.aspx">
      <publishTime>06/21/2012 09:05:31</publishTime>
    </File>
    <File Include="Compras/OrdemCompra.aspx">
      <publishTime>07/12/2012 13:46:17</publishTime>
    </File>
    <File Include="Compras/SolicitacaoCompra.aspx">
      <publishTime>06/21/2012 09:05:31</publishTime>
    </File>
    <File Include="Css/csshover.htc">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="Css/Login.css">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="Css/Producao/AddProduto.css">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="Css/reset.css">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="Css/reset_rtl.css">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="Default.aspx">
      <publishTime>07/12/2012 14:52:06</publishTime>
    </File>
    <File Include="DLL/Ext.Net.dll">
      <publishTime>05/29/2012 13:26:53</publishTime>
    </File>
    <File Include="DLL/Ext.Net.Utilities.dll">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="DLL/Ext.Net.Utilities.xml">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="DLL/Ext.Net.UX.dll">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="DLL/Ext.Net.xml">
      <publishTime>05/29/2012 13:26:43</publishTime>
    </File>
    <File Include="DLL/Newtonsoft.Json.dll">
      <publishTime>05/29/2012 13:26:42</publishTime>
    </File>
    <File Include="DLL/Newtonsoft.Json.xml">
      <publishTime>05/29/2012 13:26:42</publishTime>
    </File>
    <File Include="Estoque/Estoque.aspx">
      <publishTime>06/21/2012 09:05:31</publishTime>
    </File>
    <File Include="Funcao/Funcoes.aspx">
      <publishTime>02/06/2012 09:06:52</publishTime>
    </File>
    <File Include="Funcao/Paginas/observacao.aspx">
      <publishTime>06/21/2012 08:59:14</publishTime>
    </File>
    <File Include="Funcao/Paginas/planoFidelidade.aspx">
      <publishTime>05/31/2012 11:26:29</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="Home.aspx">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="Img/anterior.png">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="Img/botaoAddGrupos.png">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="Img/botaoEditarGrupo.png">
      <publishTime>05/29/2012 13:26:41</publishTime>
    </File>
    <File Include="Img/botaoExcluirGrupos.png">
      <publishTime>05/29/2012 13:26:41</publishTime>
    </File>
    <File Include="Img/empresa.ico">
      <publishTime>05/29/2012 13:26:41</publishTime>
    </File>
    <File Include="Img/fundo1.jpg">
      <publishTime>05/29/2012 13:26:41</publishTime>
    </File>
    <File Include="Img/fundo2.png">
      <publishTime>05/29/2012 13:26:46</publishTime>
    </File>
    <File Include="Img/fundoHome.jpg">
      <publishTime>05/29/2012 13:26:41</publishTime>
    </File>
    <File Include="Img/fundoLogin.png">
      <publishTime>05/29/2012 13:26:45</publishTime>
    </File>
    <File Include="Img/fundoSobMenu.png">
      <publishTime>05/29/2012 13:26:44</publishTime>
    </File>
    <File Include="Img/homeWall.png">
      <publishTime>05/29/2012 13:26:43</publishTime>
    </File>
    <File Include="Img/iconAdmin.png">
      <publishTime>05/29/2012 13:26:43</publishTime>
    </File>
    <File Include="Img/iconBi.png">
      <publishTime>05/29/2012 13:26:42</publishTime>
    </File>
    <File Include="Img/iconCancelar.png">
      <publishTime>05/29/2012 13:26:42</publishTime>
    </File>
    <File Include="Img/iconCompras.png">
      <publishTime>07/12/2012 13:46:17</publishTime>
    </File>
    <File Include="Img/iconComprasEstoque.png">
      <publishTime>05/29/2012 13:26:43</publishTime>
    </File>
    <File Include="Img/iconComprasHover.png">
      <publishTime>07/12/2012 13:46:18</publishTime>
    </File>
    <File Include="Img/iconComprasOpaco.png">
      <publishTime>07/12/2012 13:46:17</publishTime>
    </File>
    <File Include="Img/iconeEditar.jpg">
      <publishTime>05/29/2012 13:26:43</publishTime>
    </File>
    <File Include="Img/iconFinanceiro.png">
      <publishTime>05/29/2012 13:26:44</publishTime>
    </File>
    <File Include="Img/iconFinanceiroHover.png">
      <publishTime>05/29/2012 13:26:43</publishTime>
    </File>
    <File Include="Img/iconFinanceiroOpaco.png">
      <publishTime>05/29/2012 13:26:44</publishTime>
    </File>
    <File Include="Img/iconGlobal.png">
      <publishTime>05/29/2012 13:26:44</publishTime>
    </File>
    <File Include="Img/iconGlobalHover.png">
      <publishTime>05/29/2012 13:26:44</publishTime>
    </File>
    <File Include="Img/iconGlobalOpaco.png">
      <publishTime>05/29/2012 13:26:44</publishTime>
    </File>
    <File Include="Img/iconProducao.png">
      <publishTime>05/29/2012 13:26:45</publishTime>
    </File>
    <File Include="Img/iconProducaoHover.png">
      <publishTime>05/29/2012 13:26:45</publishTime>
    </File>
    <File Include="Img/iconProducaoOpaco.png">
      <publishTime>05/29/2012 13:26:44</publishTime>
    </File>
    <File Include="Img/iconRelatorios.png">
      <publishTime>05/29/2012 13:26:45</publishTime>
    </File>
    <File Include="Img/iconRelatoriosHover.png">
      <publishTime>05/29/2012 13:26:45</publishTime>
    </File>
    <File Include="Img/iconRelatoriosOpaco.png">
      <publishTime>05/29/2012 13:26:45</publishTime>
    </File>
    <File Include="Img/iconSistema.png">
      <publishTime>05/29/2012 13:26:46</publishTime>
    </File>
    <File Include="Img/iconSistemaHover.png">
      <publishTime>05/29/2012 13:26:45</publishTime>
    </File>
    <File Include="Img/iconSistemaOpaco.png">
      <publishTime>05/29/2012 13:26:46</publishTime>
    </File>
    <File Include="Img/iconVendas.png">
      <publishTime>05/29/2012 13:26:45</publishTime>
    </File>
    <File Include="Img/iconVendasHover.png">
      <publishTime>05/29/2012 13:26:45</publishTime>
    </File>
    <File Include="Img/iconVendasOpaco.png">
      <publishTime>05/29/2012 13:26:46</publishTime>
    </File>
    <File Include="Img/imagemFundo.jpg">
      <publishTime>05/29/2012 13:26:46</publishTime>
    </File>
    <File Include="Img/imagemSistema.png">
      <publishTime>05/29/2012 13:26:46</publishTime>
    </File>
    <File Include="Img/logoAdmin.png">
      <publishTime>05/29/2012 13:26:47</publishTime>
    </File>
    <File Include="Img/logoGourmet.png">
      <publishTime>05/29/2012 13:26:46</publishTime>
    </File>
    <File Include="Img/primeiro.png">
      <publishTime>05/29/2012 13:26:46</publishTime>
    </File>
    <File Include="Img/proximo.png">
      <publishTime>05/29/2012 13:26:46</publishTime>
    </File>
    <File Include="Img/sair.png">
      <publishTime>05/29/2012 13:26:46</publishTime>
    </File>
    <File Include="Img/ultimo.png">
      <publishTime>05/29/2012 13:26:46</publishTime>
    </File>
    <File Include="Login.aspx">
      <publishTime>06/27/2012 11:30:54</publishTime>
    </File>
    <File Include="LogOut.aspx">
      <publishTime>05/29/2012 13:26:40</publishTime>
    </File>
    <File Include="PDV/Aliquota.aspx">
      <publishTime>08/13/2012 15:27:37</publishTime>
    </File>
    <File Include="PDV/Fidelidade.aspx">
      <publishTime>04/06/2012 13:55:45</publishTime>
    </File>
    <File Include="PDV/Impressoras.aspx">
      <publishTime>08/09/2012 09:28:13</publishTime>
    </File>
    <File Include="PDV/Mesas.aspx">
      <publishTime>08/13/2012 15:29:20</publishTime>
    </File>
    <File Include="PDV/Monitores.aspx">
      <publishTime>08/13/2012 15:26:43</publishTime>
    </File>
    <File Include="PDV/Vendedores.aspx">
      <publishTime>08/13/2012 15:21:12</publishTime>
    </File>
    <File Include="Producao/Cardapio.aspx">
      <publishTime>08/13/2012 15:40:28</publishTime>
    </File>
    <File Include="Producao/Fornecedores.aspx">
      <publishTime>07/12/2012 14:55:14</publishTime>
    </File>
    <File Include="Producao/Grupos.aspx">
      <publishTime>05/31/2012 11:26:29</publishTime>
    </File>
    <File Include="Producao/Observacoes.aspx">
      <publishTime>08/13/2012 15:24:40</publishTime>
    </File>
    <File Include="Producao/Produtos.aspx">
      <publishTime>06/21/2012 08:59:14</publishTime>
    </File>
    <File Include="Producao/Unidades.aspx">
      <publishTime>08/13/2012 15:23:54</publishTime>
    </File>
    <File Include="Relatorios/Lista.aspx">
      <publishTime>08/08/2012 10:51:15</publishTime>
    </File>
    <File Include="Relatorios/Localization/ar.xml">
      <publishTime>03/17/2010 15:46:48</publishTime>
    </File>
    <File Include="Relatorios/Localization/be.xml">
      <publishTime>03/16/2010 20:07:02</publishTime>
    </File>
    <File Include="Relatorios/Localization/cro.xml">
      <publishTime>11/30/2009 21:16:56</publishTime>
    </File>
    <File Include="Relatorios/Localization/cz.xml">
      <publishTime>08/04/2009 10:54:06</publishTime>
    </File>
    <File Include="Relatorios/Localization/de.xml">
      <publishTime>03/24/2010 20:02:28</publishTime>
    </File>
    <File Include="Relatorios/Localization/en.xml">
      <publishTime>03/17/2010 09:01:52</publishTime>
    </File>
    <File Include="Relatorios/Localization/es.xml">
      <publishTime>03/18/2010 08:02:12</publishTime>
    </File>
    <File Include="Relatorios/Localization/fa.xml">
      <publishTime>05/03/2009 18:48:02</publishTime>
    </File>
    <File Include="Relatorios/Localization/fr.xml">
      <publishTime>03/19/2010 15:42:18</publishTime>
    </File>
    <File Include="Relatorios/Localization/hu.xml">
      <publishTime>03/16/2010 20:08:02</publishTime>
    </File>
    <File Include="Relatorios/Localization/it.xml">
      <publishTime>03/16/2010 20:08:26</publishTime>
    </File>
    <File Include="Relatorios/Localization/ka.xml">
      <publishTime>08/04/2009 10:58:08</publishTime>
    </File>
    <File Include="Relatorios/Localization/lt.xml">
      <publishTime>03/16/2010 08:40:38</publishTime>
    </File>
    <File Include="Relatorios/Localization/nl.xml">
      <publishTime>03/16/2010 20:08:36</publishTime>
    </File>
    <File Include="Relatorios/Localization/pl.xml">
      <publishTime>03/26/2010 18:19:20</publishTime>
    </File>
    <File Include="Relatorios/Localization/pt-BR.xml">
      <publishTime>03/16/2010 20:08:54</publishTime>
    </File>
    <File Include="Relatorios/Localization/ro.xml">
      <publishTime>03/16/2010 20:09:02</publishTime>
    </File>
    <File Include="Relatorios/Localization/ru.xml">
      <publishTime>03/19/2010 14:43:34</publishTime>
    </File>
    <File Include="Relatorios/Localization/ser.xml">
      <publishTime>08/04/2009 10:59:56</publishTime>
    </File>
    <File Include="Relatorios/Localization/sk.xml">
      <publishTime>03/16/2010 20:09:20</publishTime>
    </File>
    <File Include="Relatorios/Localization/sv.xml">
      <publishTime>03/16/2010 20:09:38</publishTime>
    </File>
    <File Include="Relatorios/Localization/tr.xml">
      <publishTime>03/22/2010 10:11:18</publishTime>
    </File>
    <File Include="Relatorios/Localization/ua.xml">
      <publishTime>03/19/2010 14:43:42</publishTime>
    </File>
    <File Include="Relatorios/Localization/zh-CHS.xml">
      <publishTime>08/04/2009 11:00:30</publishTime>
    </File>
    <File Include="Relatorios/Localization/zh-CHT.xml">
      <publishTime>08/04/2009 11:00:46</publishTime>
    </File>
    <File Include="Relatorios/MRT/Cancelamento.mrt">
      <publishTime>08/09/2012 10:34:04</publishTime>
    </File>
    <File Include="Relatorios/MRT/Descontos.mrt">
      <publishTime>08/08/2012 17:32:27</publishTime>
    </File>
    <File Include="Relatorios/MRT/Faturamento.mrt">
      <publishTime>08/09/2012 09:36:21</publishTime>
    </File>
    <File Include="Relatorios/MRT/Recebimentos.mrt">
      <publishTime>08/08/2012 16:18:26</publishTime>
    </File>
    <File Include="Relatorios/MRT/ResumoFaturamento.mrt">
      <publishTime>08/08/2012 16:41:17</publishTime>
    </File>
    <File Include="Relatorios/MRT/ResumoVendas.mrt">
      <publishTime>08/14/2012 17:15:19</publishTime>
    </File>
    <File Include="Relatorios/MRT/Transferencia.mrt">
      <publishTime>08/08/2012 17:40:33</publishTime>
    </File>
    <File Include="Relatorios/Teste.aspx">
      <publishTime>07/08/2012 18:20:53</publishTime>
    </File>
    <File Include="Relatorios/VerRelatorio.aspx">
      <publishTime>08/08/2012 10:09:36</publishTime>
    </File>
    <File Include="Scripts/jquery-1.4.1-vsdoc.js">
      <publishTime>05/29/2012 13:26:47</publishTime>
    </File>
    <File Include="Scripts/jquery-1.4.1.js">
      <publishTime>05/29/2012 13:26:47</publishTime>
    </File>
    <File Include="Scripts/jquery-1.4.1.min.js">
      <publishTime>05/29/2012 13:26:47</publishTime>
    </File>
    <File Include="Sistema/CarregaImagem.aspx">
      <publishTime>05/29/2012 13:26:47</publishTime>
    </File>
    <File Include="Sistema/Empresa.aspx">
      <publishTime>05/29/2012 13:26:47</publishTime>
    </File>
    <File Include="Sistema/Filial.aspx">
      <publishTime>06/21/2012 08:59:14</publishTime>
    </File>
    <File Include="Sistema/Parametro.aspx">
      <publishTime>05/29/2012 13:26:47</publishTime>
    </File>
    <File Include="Sistema/Perfil.aspx">
      <publishTime>06/26/2012 15:34:35</publishTime>
    </File>
    <File Include="Sistema/Usuario.aspx">
      <publishTime>08/13/2012 15:22:50</publishTime>
    </File>
    <File Include="Styles/Site.css">
      <publishTime>05/29/2012 13:26:47</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>08/14/2012 10:13:38</publishTime>
    </File>
  </ItemGroup>
</Project>