<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!-- Tipo: Local ou Global -->
    <add key="TIPOBD" value="Local" />
    <add key="CODSISTEMA" value="A" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Restaurante" connectionString="metadata=res://*/BD.csdl|res://*/BD.ssdl|res://*/BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.40;Initial Catalog=ArtebitGourmetteste;Persist Security Info=True;User ID=artebit;Password=@rtebit;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="Restaurante" connectionString="metadata=res://*/BD.csdl|res://*/BD.ssdl|res://*/BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=artebit-server\sql2008r2express;Initial Catalog=artebitgourmetteste;Persist Security Info=True;User ID=artebit;Password=@rtebit;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Restaurante"
         connectionString="metadata=res://*/BD.csdl|res://*/BD.ssdl|res://*/BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=5.35.208.146\sql2008r2express;Initial Catalog=ARTEBITGOURMET_Novo;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>